.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color: White;
    font-size:1.4vw;
    font-weight: 300;
    text-shadow:
     -2px -2px 0 #000,
     2px -1px 0 #000,
     -2px 1px 0 #000,
     2px 2px 0 #000;
    font-size: large;
}

h1{
    font-weight: 900;
}

.con {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    color: black;


}


.con{
    display: flex;
    font-weight: 700;

}


.italic{

    font-style: oblique;
    width: 700px;
    height: 156px;

}



.btn-new {

}

.btn-new:hover {
  transform: translate(0,-3px);
  box-shadow: 0 20px 40px 0 rgba(11, 99, 246, 1);
}


#showImageBtn {
    box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 1);
    transition: 0.5s;
    width: 500px;
    height: 96px;
    border-radius: 60px;
    cursor: pointer;
    color: White;
    background: #00008B;
    font-style: sans-serif;
    font-size:5vw;
    font-weight: 800;
}

#randomImage {
    border-radius: 60px;
    border: 10px solid #56382d;
    width: 500px;
    height: 500px;
    object-fit: cover;
}
body {
  background-position: center;
  background-image: url('https://i.pinimg.com/564x/5e/62/a7/5e62a7c8baa26301c7f1f1566018de24.jpg'); /* Replace with your image URL */  background-repeat: no-repeat;
  background-size: 190% 190%;
}
