/* Общие стили для контейнера */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 1.4vw;
    font-weight: 300;
    text-shadow: 
        -2px -2px 0 #000,
        2px -1px 0 #000,
        -2px 1px 0 #000,
        2px 2px 0 #000;
}

/* Стили для заголовка h1 */
h1 {
    font-weight: 900;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Стиль для контейнера с кнопкой */
.con {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    color: black;
    font-weight: 700;
}

/* Стили для кнопки */
#showImageBtn {
    box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 1);
    transition: 0.5s;
    width: 500px;
    height: 96px;
    border-radius: 60px;
    cursor: pointer;
    color: white;
    background: #00008B;
    font-size: 5vw;
    font-weight: 800;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Эффект при наведении на кнопку */
#showImageBtn:hover {
    transform: translate(0, -3px);
    box-shadow: 0 20px 40px 0 rgba(11, 99, 246, 1);
}

/* Стили для изображений */
#randomImage {
    border-radius: 60px;
    border: 10px solid #56382d;
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 30px;
    display: block;
    max-width: 100%;
}

/* Стили фона страницы */
body {
    background-position: center;
    background-image: url('https://i.pinimg.com/564x/5e/62/a7/5e62a7c8baa26301c7f1f1566018de24.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Стили для контейнера сообщений */
#placeholderContainer {
    font-size: 2rem;
    color: white;
    z-index: 2;
    margin-top: 20px;
    text-align: center;
    display: none;
}

/* Для текста "Идет подключение к игре" */
#connectingMessage {
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;  /* Скрыто по умолчанию */
    text-align: center;
}

/* Для времени */
#id_clock {
    font-size: 50px;
    margin-top: 20px;
}

/* Для текста "t.me/kas_666" */
#textBlock {
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
}
